* {
    box-sizing: border-box;
}

.product {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
}



/*(orange #de6127) (lichtgrijs #e8e8e8) (donkergrijs #737373) (bolletjes #2727229, #928471, #c2c2b4)*/
body {
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

article {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.elements-for-image {
    display: grid;
}

.elements-for-image .model-pink {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heart-shape {
   position: absolute;
    bottom: 6px;
    right: 10px;
}

.elements-for-image {
    position: relative;
}

.new-space {
    background-color:#e8e8e8;
    font-family: "Poppins", sans-serif;
    color: #de6127;
    padding: 10px 20px;
    transform: rotate(-90deg);
}

.new-space {
    display: inline-block;
    width: 100px; /* of 100% van het parent-element */
    text-align: center;
}

.new-space {
position: absolute;
left: -69px;
    top: 72px;
}

h3 {
    color: #e8e8e8;
}

h2 {
    color: #737373;
}

.dot-pink, .dot-blue, .dot-light-brown, .dot-green {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.dot-pink {
    background-color: pink;
}

.dot-blue {
    background-color: #737373;
}

.dot-light-brown {
    background-color: #c2c2b4;
}

.dot-green {
    background-color: lightgrey;
}
/*colors nog aanpassen van span element*/


.










/* - Vul dit document aan met jouw eigen css! - */
